{% extends "app/base.html" %}
{% block title %}Détails du membre{% endblock title %}

{% block content %}
    <h3>Informations détaillées des membres</h3>
    <h5>Nom</h5>
    {{ product.name }}
    <h5>Description</h5>
    {{ product.description }}
    <h5>Price</h5>
    {{ product.price }}
    <h5>Stock</h5>
    {{ product.stock }}
    <h5>Image</h5>
    <img src="{{ product.imageUrl }}" alt="Image">
    <br>
    <br>
    <a href="{% url 'app:index' %}" class="btn btn-default btn-sm">Revenir</a>

    <form action="{% url 'app:detail' id=product.id %}" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {{ form }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </div>
        </form>
{% endblock content %}