{% extends "app/base.html" %}

{% block title %}
Programmé pour afficher une liste
{% endblock title %}

{% block content %}
<h3>Affichage de la liste</h3>

<div class="container" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 32px; margin-top: 32px;">
    {% for product in products %}
        {% if product.stock > 0 %}
            <div class="card" style="width: 18rem; margin-bottom: 32px;">
                <img class="card-img-top" src="{{ product.imageUrl }}" alt="Card image cap" style="padding: 12px;">
                <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|slice:80 }}...</p>
                <a href="{% url 'app:detail' id=product.id %}" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<form action="{% url 'app:index' %}" method="post" role="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Name</label>
        <input type="text" class="form-control" name="name" id="id_name" placeholder="Enter a name">
    </div>
    <div class="form-group">
        <label for="id_description">Description</label>
        <textarea class="form-control" id="id_description" name="description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <label for="id_imageUrl">Image Url</label>
        <textarea class="form-control" name="imageUrl" id="id_imageUrl" placeholder="Image Url"></textarea>
    </div>
    <div class="form-group">
        <label for="id_price">Price</label>
        <input type="number" class="form-control" name="price" id="id_price" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="id_stock">Stock</label>
        <input type="number" class="form-control" name="stock" id="id_stock" placeholder="Stock">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--Mettez la page ici-->
{% block script %}
<script>
    $(function(){
        $("#btn_del").click(function(){
            if(confirm("Voulez-vous le supprimer?")){
                //Traitement oui (continuez sans rien faire)
            }else{
                //Annuler le traitement
                return false;
            }
        });
    })
</script>
{% endblock %}
{% endblock content %}